<section>
    <h2>This is a free tool that aims to aid in developing of your own resume</h2>
    <h4></h4>
    <button class="btn">Create</button>
    <button id="print-btn" class="btn">Print</button>
</section>
<script type="module" src="/scripts/script.js">
    function getPrintPDF(){
        console.log('I was clicked');
    }
</script>
<section class="resume-div" id="resume-div">
    <header class="header">
        <img src="/images/plate.png" alt="your_profile" srcset=" ">
        <div class="user-desc">
            <h3 class="title"><%= info.description.name %></h3>
            <h5 ><%= info.description.role.toUpperCase() %></h5>
        </div>
    </header>
    <div style="display: flex; padding: 1rem;">
        <aside class="summary-skills">
            <h3 class="title">SUMMARY</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consequuntur accusantium obcaecati facilis saepe, maxime nesciunt quod suscipit quas consectetur assumenda soluta, beatae praesentium! Commodi nihil asperiores dolore et ad.</p>
            <div class="skills">
                <h3 class="title">Skills</h3>
                <ul>
                    <% for(let i=0;i < info.skills.length; i++) { %>
                        <li><%=info.skills[i] %></li>
                    <% } %>
                </ul>
            </div>
            <h3 class="title">Personal Information</h3>
            <div class="personal-info">
                <ul>
                    <li>Location: <%= info.contact.location %> </li>
                    <li>Contact: <%= info.contact.phone %> </li>
                    <li>Github: <%= info.contact.github %></li>
                    <li>Email: <%= info.contact.github %> </li>
                    <li>LinkedIn: <%= info.contact.linkedin %> </li>
                    <li>Twitter: <%= info.contact.twitter %> </li>
                </ul>
            </div>
        </aside>
        <aside class="experience-education">
            <div class="experience">
                <h4>WORK EXPERIENCE</h4>
                <% for(let i = 0; i< info.experience.length; i++) { %>
                    <div class="description">
                        <h4 class="title" style="display: inline-block;"> <%=info.experience[i].Title %> </h4>
                        <span style="float: right;"><%=info.experience[i].start_date %> - <%=info.experience[i].end_date %></span>
                        <h5><%=info.experience[i].name %></h5>
                        <p> <%=info.experience[i].description %> </p>
                    </div>
                <% } %>
            </div>
            <div class="education">
                <h4>EDUCATION</h4>
                <div class="description">
                    <h4 class="title" style="display: inline-block;">BSc Computer Science</h4>
                    <span style="float: right; font-weight: 800; font-size: .8rem;">05/2018-05/2021</span>
                    <h4>University of Nairobi</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum explicabo iure magni doloribus esse! Aspernatur corrupti necessitatibus praesentium iste?</p>
                </div>
                <button>Add</button>
            </div>
            <div class="projects">
                <h3 >PROJECTS</h3>
                <div>
                    <h4 class="title" style="display: inline-block;">Ecommerce Platform</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum explicabo iure magni doloribus esse! Aspernatur corrupti necessitatibus praesentium iste?</p>
                </div>
                <button>Add</button>
            </div>
            <div class="community">
                <h3>LEADERSHIP AND COMMUNITY INVOLVMENTS</h3>
                <div class="description">
                    <h4 class="title" style="display: inline-block;">Ecommerce Platform</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum explicabo iure magni doloribus esse! Aspernatur corrupti necessitatibus praesentium iste?</p>
                </div>
                <button>Add</button>
            </div>
            <div class="certifications">
                <h3 >Certifications and Licenses</h3>
                <div>
                    <h4 class="title" style="display: inline-block;">Ecommerce Platform</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum explicabo iure magni doloribus esse! Aspernatur corrupti necessitatibus praesentium iste?</p>
                </div>
                <button>Add</button>
            </div>
        </aside>
    </div>
</section>